.img {
    background-image: url("yellow.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    background-position: center;
    background-size: cover;
}

.bl {
    background-color: black;
    background-attachment: fixed;
    height: 100%;
    width: 70%;
    margin: auto;
    background-position: center;
    background-size: cover;
}

.error{
    color: white;
}

.centre{
    padding-top: 25%;
}

.tex{
    color: white;
    text-align: center;
    border: 3px solid white;
    border-radius: 12px;
    width: 39%;
    font-weight: bold;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 25px;
}

span{
    color: red;
    font-weight: bold;
}